<div class="footer">
	<div class="row">
		<div class="col-xs-3">
			<img src="/img/assets/MDCALogo.small.png" alt="{{site.name}}" />
		</div>
		<div class="col-xs-3">
			&copy; {{site.name}} {{ site.time | date: "%Y" }}<br>
			<small>
				Designed by <a href="http://julieparys.com">Julie Parys</a><br>
				Coded by <a href="http://appsynergy.net">Adam Marshall</a>
			</small>
		</div>
		<div class="col-xs-2">
			<h4>About MDCA</h4>
			<ul>
				<li>Stuff</li>
				<li>Things</li>
			</ul>
		</div>
		<div class="col-xs-2">
			<h4>Get in touch</h4>
			<ul>
				<li>info@mdca.im</li>
			</ul>
		</div>
		<div class="col-xs-2">
			<h4>blah</h4>
		</div>
	</div>
</div>