<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<img src="/img/assets/MDCALogo.small.png" alt="{{site.name}}" />
			</div>
			<div class="col-xs-6 col-sm-4">
				&copy; {{site.name}} {{ site.time | date: "%Y" }}<br>
				<small>
					Designed by <a href="http://julieparys.com">Julie Parys</a><br>
					Coded by <a href="http://appsynergy.net">Adam Marshall</a>
				</small>
			</div>
			<div class="col-xs-6 col-sm-3">
				<h4>About MDCA</h4>
				<ul>
					<li><a href="/about-us/">About Us</a></li>
					<li><a href="/isle-of-man/">About the Isle of Man</a></li>
					<li><a href="/digital-currency/">About Digital Currency</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-2">
				<h4>Get in touch</h4>
				<ul>
					<li><a href="mailto:info@mdca.im">info@mdca.im</li>
				</ul>
			</div>
		</div>
	</div>
</div>