<div class="header">
	<div class="container logo">
		<img src="/img/assets/MDCALogo.fw.png" alt="{{site.name}}" />
		<!--<h1 class="title"><a href="/">{{ site.name }}</a></h1>-->
	</div>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
			  <li><a href="/">Home</a></li>
			  <li><a href="/about-us/">About Us</a></li>
			  <li><a href="/isle-of-man/">The Isle of Man</a></li>
			  <li><a href="/digital-currency/">Digital Currency</a></li>
			  <li><a href="/members/">Members</a></li>
			  <li><a href="/contact/">Contact</a></li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>
</div><!-- .header -->