<div class="header">
	
	<div class="container logo">
		<a href="/">
			<img src="/img/assets/MDCALogo.fw.png" alt="{{site.name}}" />
		</a>
		<!--<h1 class="title"><a href="/">{{ site.name }}</a></h1>-->
	</div>
	
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
			  <li class="theme-cyan"><a href="/">Home</a></li>
			  <li class="theme-magenta"><a href="/about-us/">About Us</a></li>
			  <li class="theme-red"><a href="/isle-of-man/">The Isle of Man</a></li>
			  <li class="theme-green"><a href="/digital-currency/">Digital Currency</a></li>
			  <li class="theme-yellow"><a href="/members/">Members</a></li>
			  <li class="theme-pink"><a href="/contact/">Contact</a></li>
			</ul>
			<p class="nav navbar-text">info@mcda.im</p> 
		</div>		
	</nav>
	
	<div class="pageBanner banner-{{ page.banner }}">
		<div class="container homeBannerJumbo">
			{% if page.name == "home" %}
				<h1>Find out all about digital currency</h1>
				<h3>...and how {{ site.name }} can help.</h3>
				{% include findOutMore.html %}
			{% endif %}
		</div>
	</div>
	
</div><!-- .header -->