<div class="header">
	
	<div class="container logo">
		<a href="/">
			<img src="/img/assets/MDCALogo.fw.png" alt="{{site.name}}" />
		</a>
	</div>
	
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
			  <li class="theme-cyan"><a href="/">Home</a></li>
			  <li class="theme-magenta dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/about-us/">About Us</a></li>
					<li><a href="/about-us/executive-committee/">Executive Committee</a></li>
				</ul>
			  </li>
			  <li class="theme-red"><a href="/isle-of-man/">The Isle of Man</a></li>
			  <li class="theme-blue dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Digital Currency <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/digital-currency/">About Digital Currency</a></li>
					<li><a href="/digital-currency/faq/">Frequently Asked Questions</a></li>
				</ul>
			  </li>
			  <li class="theme-yellow"><a href="/members/">Members</a></li>
			  <li class="theme-green"><a href="/contact/">Contact</a></li>
			</ul>
			<p class="nav navbar-text"><a href="mailto:info@mdca.im">info@mcda.im</a></p> 
		</div>		
	</nav>
	
	<div class="pageBanner banner-{{ page.banner }}">
		<div class="container bannerJumbo">
			{% if page.name == "home" %}
				<h1>Find out all about digital currency</h1>
				<h3>...and how {{ site.name }} can help.</h3>
				{% include findOutMore.html %}
			{% endif %}
		</div>
	</div>
	
</div><!-- .header -->