//  __       __  _______    ______    ______  
//  /  \     /  |/       \  /      \  /      \ 
//  $$  \   /$$ |$$$$$$$  |/$$$$$$  |/$$$$$$  |
//  $$$  \ /$$$ |$$ |  $$ |$$ |  $$/ $$ |__$$ |
//  $$$$  /$$$$ |$$ |  $$ |$$ |      $$    $$ |
//  $$ $$ $$/$$ |$$ |  $$ |$$ |   __ $$$$$$$$ |
//  $$ |$$$/ $$ |$$ |__$$ |$$ \__/  |$$ |  $$ |
//  $$ | $/  $$ |$$    $$/ $$    $$/ $$ |  $$ |
//  $$/      $$/ $$$$$$$/   $$$$$$/  $$/   $$/
//
//
// @author Adam Marshall <adam@appsynergy.net>
// @designer Julie Parys <julie.parys@arts-interactive.com>
// @copyright Adam Marshall, MDCA 2014

// Colors
$cyan: #5bbfdf;
$magenta: #c2529e;
$red: #ea1d24;
$cyan2: #5fcaea;
$yellow: #edc815;
$pink: #fd73fc;
$green: #92c64a;
$teal: #25ae90;
$darkteal: #358371;
$blue: #4aaad2;
$darkgrey: #42474d;
$lightgrey: #e0e0e0;

// Map color variables to strings
$colors:
	red $red,
	magenta $magenta, 
	lue $blue,
	green $green,
	pink $pink,
	yellow $yellow,
	cyan $cyan;
	
// Map banner images to strings
$banners:
	AboutMDCA 'AboutMDCABanner1920X205.jpg',
	ContactUs 'ContactUsBanner1920X205.jpg',
	DigitalCurrency 'AboutDigitalCurencyBanner1920X205.jpg',
	Home 'HomeBanner11920x450.jpg',
	IsleOfMan 'IsleofManBanner1920X205.jpg',
	Members 'MembersBanner1920X205.jpg';