//  __       __  _______    ______    ______  
//  /  \     /  |/       \  /      \  /      \ 
//  $$  \   /$$ |$$$$$$$  |/$$$$$$  |/$$$$$$  |
//  $$$  \ /$$$ |$$ |  $$ |$$ |  $$/ $$ |__$$ |
//  $$$$  /$$$$ |$$ |  $$ |$$ |      $$    $$ |
//  $$ $$ $$/$$ |$$ |  $$ |$$ |   __ $$$$$$$$ |
//  $$ |$$$/ $$ |$$ |__$$ |$$ \__/  |$$ |  $$ |
//  $$ | $/  $$ |$$    $$/ $$    $$/ $$ |  $$ |
//  $$/      $$/ $$$$$$$/   $$$$$$/  $$/   $$/
//
/*
 * @author Adam Marshall <adam@appsynergy.net>
 * @designer Julie Parys <julie.parys@arts-interactive.com>
 * @copyright Adam Marshall, MDCA 2014
 */

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:400,700)


// Colors
$cyan: #5bbfdf
$magenta: #c2529e
$red: #ea1d24
$cyan2: #5fcaea
$yellow: #edc815
$pink: #fd73fc
$green: #92c64a
$teal: #25ae90
$blue: #4aaad2
$darkgrey: #42474d
$lightgrey: #e0e0e0
$colors: red $red, magenta $magenta, blue $blue, green $green, pink $pink, yellow $yellow, cyan $cyan

// The Styles
html
	body
		background-color: white
		background-image: url('../img/assets/background.fw.png')
		background-repeat: repeat
		background-position: left top
		font-family: Lato, sans-serif
		.mainContentWrapper
			background-color: white
			position: relative
			top: -80px
			padding: 20px 10%
		.sidebarWrapper
			outline: 2px dotted pink
		h1, h2
			color: $cyan
	// Site header
	.header
		background-color: white
		.logo
			padding: 20px 10px
		nav.navbar 
			background-color: black
			border-radius: 0
			border: none
			margin-bottom: 0
			ul
				margin: 0
			li
				border-top-style: solid
				border-width: 3px
				a
					color: white
					font-weight: bold
					text-transform: uppercase
			li:hover
				background-color: $darkgrey
				a
					color: white
	// Themed page colors
	@each $c in $colors
		body.theme-#{nth($c,1)}
			h1, h2
				color: nth($c,2)
		nav li.theme-#{nth($c,1)}
			border-color: nth($c,2)
	// Site footer
	.footer
		background-color: $lightgrey
		padding: 50px
		margin: 0
		h4
			margin: 0 0 20px 0
		ul
			padding-left: 0
		li
			list-style-type: none
		a
			color: #444
	// Homepage
	.homeBanner
		background-image: url('../img/banners/HomeBanner11920x450.jpg')
		background-position: center
		background-size: cover
		min-height: 250px
				
