//  __       __  _______    ______    ______  
//  /  \     /  |/       \  /      \  /      \ 
//  $$  \   /$$ |$$$$$$$  |/$$$$$$  |/$$$$$$  |
//  $$$  \ /$$$ |$$ |  $$ |$$ |  $$/ $$ |__$$ |
//  $$$$  /$$$$ |$$ |  $$ |$$ |      $$    $$ |
//  $$ $$ $$/$$ |$$ |  $$ |$$ |   __ $$$$$$$$ |
//  $$ |$$$/ $$ |$$ |__$$ |$$ \__/  |$$ |  $$ |
//  $$ | $/  $$ |$$    $$/ $$    $$/ $$ |  $$ |
//  $$/      $$/ $$$$$$$/   $$$$$$/  $$/   $$/
//
/*
 * @author Adam Marshall <adam@appsynergy.net>
 * @designer Julie Parys <julie.parys@arts-interactive.com>
 * @copyright Adam Marshall, MDCA 2014
 */

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:400,700)

@import 'design'

// The Styles
html
	body
		background-color: white
		background-image: url('../img/assets/background.fw.png')
		background-repeat: repeat
		background-position: left top
		font-family: Lato, sans-serif
		.mainContentWrapper
			background-color: white
			position: relative
			top: -80px
			margin-bottom: -80px
			padding: 20px 10%
			min-height: 480px
			box-shadow: #d8d8d8 -3px 0 2px
		.container .sidebarWrapper
			h1, h2
				color: #333
		h1, h2
			color: $cyan
		h3
			margin-bottom: 30px
	// Site header
	.header
		background-color: white
		.logo
			padding: 20px 10px
		nav.navbar 
			background-color: black
			border-radius: 0
			border: none
			margin-bottom: 0
			.navbar-text
				display: inline
				color: white
				border-top: 3px solid black
			ul
				margin: 0
			li
				border-top-style: solid
				border-width: 3px
				a
					color: white
					font-weight: bold
					text-transform: uppercase
			li:hover
				background-color: $darkgrey
				a
					color: white
	// Themed page colors
	@each $c in $colors
		body.theme-#{nth($c,1)}
			h1, h2
				color: nth($c,2)
		nav li.theme-#{nth($c,1)}
			border-color: nth($c,2)
	// Site footer
	.footer
		background-color: $lightgrey
		padding: 50px
		margin: 0
		h4
			margin: 0 0 20px 0
		ul
			padding-left: 0
		li
			list-style-type: none
		a
			color: #444
	// Banner images
	@each $b in $banners
		.pageBanner.banner-#{nth($b,1)}
			background-image: url(../img/banners/#{nth($b,2)})
	.pageBanner
		background-position: center
		background-size: cover
		min-height: 205px
		&.banner-Home
			min-height: 250px
	// Alert / Learn more
	.alert-success
		color: white
		background-color: $teal
		position: relative
		border-radius: 22px
		font-size: 20px
		text-transform: uppercase
		max-width: 300px
		a
			color: white
			font-weight: bold
		.glyphicon
			font-size: 34px
			position: absolute
			top: 11px
			right: 15px
				
