/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

/**
 * Colors
 */
$cyan: #5bbfdf
$magenta: #5bbfdf
$red: #ea1d24
$cyan2: #5fcaea
$yellow: #edc815
$pink: #fd73fc
$green: #92c64a
$teal: #25ae90
$blue: #4aaad2
$darkgrey: #42474d
$lightgrey: #e0e0e0

/**
 * The Styles
 */
html
	body
		background-color: white
	.header
		.logo
			margin-bottom: 15px
		nav.navbar 
			background-color: black
			li
				border-top: 3px solid $cyan
