<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link media="screen" type="text/css" rel="stylesheet"  href="/css/screen.css">
		<link media="screen" type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
		{% include header.html %}
        <div class="site container">
			<div class="row">
				
				<!-- main content area -->
				<div class="col-md-8 col-md-push-4">	
					<div class="mainContentWrapper">
						{{ content }}
					</div>
				</div>
				
				<!-- sidebar area -->
				<div class="col-md-4 col-md-pull-8">
					<div class="sidebarWrapper">
						<h2>Why the Isle of Man?</h2>
						<div class="isleOfManMap">
						<img src="/img/MAP.fw.png" />
						</div>
					</div>
				</div>
				
        </div><!-- .site -->
    </body>
</html>
