@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * The Styles
 */
/* line 32, ../_sass/src/screen.sass */
html {
  /*
   * Site Header
   * common to all pages
   */
  /*
   * Homepage
   */
}
/* line 33, ../_sass/src/screen.sass */
html body {
  background-color: white;
  background-image: url("../img/assets/background.fw.png");
  background-repeat: repeat;
  background-position: left top;
  font-family: Lato, sans-serif;
}
/* line 39, ../_sass/src/screen.sass */
html body .mainContentWrapper {
  outline: 1px dashed pink;
  background-color: white;
  position: relative;
  top: -80px;
  padding: 20px 10%;
}
/* line 45, ../_sass/src/screen.sass */
html body .sidebarWrapper {
  outline: 1px dashed pink;
}
/* line 47, ../_sass/src/screen.sass */
html body h1, html body h2 {
  color: #5bbfdf;
}
/* line 54, ../_sass/src/screen.sass */
html .header .logo {
  margin-bottom: 15px;
}
/* line 56, ../_sass/src/screen.sass */
html .header nav.navbar {
  background-color: black;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
/* line 61, ../_sass/src/screen.sass */
html .header nav.navbar ul {
  margin: 0;
}
/* line 63, ../_sass/src/screen.sass */
html .header nav.navbar li {
  border-top-style: solid;
  border-width: 3px;
}
/* line 66, ../_sass/src/screen.sass */
html .header nav.navbar li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 70, ../_sass/src/screen.sass */
html .header nav.navbar li:hover {
  background-color: #42474d;
}
/* line 72, ../_sass/src/screen.sass */
html .header nav.navbar li:hover a {
  color: white;
}
/* line 74, ../_sass/src/screen.sass */
html .header nav.navbar li.nav1 {
  border-color: #5bbfdf;
}
/* line 76, ../_sass/src/screen.sass */
html .header nav.navbar li.nav2 {
  border-color: #c2529e;
}
/* line 78, ../_sass/src/screen.sass */
html .header nav.navbar li.nav3 {
  border-color: #ea1d24;
}
/* line 80, ../_sass/src/screen.sass */
html .header nav.navbar li.nav4 {
  border-color: #92c64a;
}
/* line 82, ../_sass/src/screen.sass */
html .header nav.navbar li.nav5 {
  border-color: #edc815;
}
/* line 84, ../_sass/src/screen.sass */
html .header nav.navbar li.nav6 {
  border-color: #fd73fc;
}
/* line 89, ../_sass/src/screen.sass */
html .homeBanner {
  background-image: url("../img/banners/HomeBanner11920x450.jpg");
  background-position: center;
  background-size: cover;
  min-height: 250px;
}
